# Kubernetes cluster configuration
export CLUSTER_NAME=hetzner-microk8s-demo
export CABPR_NAMESPACE="default"
export KUBERNETES_VERSION=1.25.0
export CONTROL_PLANE_MACHINE_COUNT=1
export WORKER_MACHINE_COUNT=2

## Hetzner 
export HCLOUD_SSH_KEY="lraus-cka_sshkey"
export HCLOUD_REGION="nbg1"


# (optional) Snap risk level and confinement
export SNAP_RISKLEVEL="edge"
export SNAP_CONFINEMENT="classic"

# Upgrade configuration
export UPGRADE_STRATEGY=SmartUpgrade